# Enable TCP/IP networking
port 6379

# Bind to all interfaces
bind 0.0.0.0

# Disable Unix socket for Firefly III
# unixsocket /var/snap/firefly-iii/current/redis.sock
# unixsocketperm 770

# Nextcloud Unix socket configuration
unixsocket /var/snap/nextcloud/current/redis.sock
unixsocketperm 770

# Maximum memory usage for Redis (adjust as needed)
maxmemory 256M
